{% extends "_base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mysite</title>
</head>
<body>
    <table border="1">
        {% for pessoa in pessoas %} 
            <tr>
                <td> {{pessoa.id}} </td>
                <td> {{pessoa.nome}} </td> 
                <td> {{pessoa.idade}} </td> 
                <td> {{pessoa.cpf}} </td> 
                <td> <a href='/pessoa/{{pessoa.id}}/'> Ver detalhes </a> </td> 
                <td> <a href='/pessoa/edit/{{pessoa.id}}'> Editar </a> </td> 
                <td> <a href='/pessoa/remove/{{pessoa.id}}'> Remover </a> </td> 
            </tr> 
        {% endfor %}
        </table>
</body>
</html>
